@import '../src/scss/bootstrap';
@import '../src/scss/home';
@import '../src/scss/footer';
@import '../src/scss/header';
@import '../src/scss/about';
@import '../src/scss/contact';
@import '../src/scss/productDetails';
@import '../src/scss/multiRangeInput';




.disabled{
    color: gray;
}

.golden{
    color: rgb(225, 225, 12);

}
.gray{
    color:gray;

}